.btn {
  border: none;
  border-radius: 3px;
  padding: 3px 8px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.general {
  font-size: 18px;
  border: none;
  margin: 10px 0;
  width: 90px;
  height: 32px;
}
.disabled {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}

.btn-green {
  background: forestgreen;
  color: white;
  @extend .general;
  &:hover {
    box-shadow: 0 1px 2px 4px rgba(255, 255, 255, 0.2);
    transition: 300ms;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
  &:active {
    color: white;
    background: darkgreen;
  }
  &:disabled {
    @extend .disabled
  }
}

.btn-grey {
  @extend .general;
  background: darkgrey;
  color: black;
  &:hover {
    box-shadow: 0 1px 2px 4px rgba(0, 0, 0, 0.07);
    transition: 300ms;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  }
  &:active {
    color: white;
    background: darkgray;
  }
  &:disabled {
    @extend .disabled
  }
}

.blue {
  background: dodgerblue;
  color: rgba( 255, 255, 255, 0.8);
  &:hover {
    background: cornflowerblue;
  }
  &:active {
    background: royalblue;
  }
  &:disabled {
    @extend .disabled
  }
}
.red {
  background: crimson;
  color: rgba( 255, 255, 255, 0.9);
  &:disabled {
    @extend .disabled
  }
  &:hover {
    background: red;
  }
  &:active {
    background: maroon;
  }
}

.sm {
  font-size: 14px;
  padding: 3px 7px
}
