.info-tooltip {
  position: absolute;
  padding: 7px 12px 9px;
  max-width: 430px;
  word-break: break-word;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: #fff;
  background: #000;
  z-index: 1000;
  bottom: 30rem;
  left: 4rem;
}
