<div class="container">
  <div class="login-block">
    <div class="wrap">
      <span *ngIf="isLoggedOut" [ngClass]="{'highlight': isHighlighted}"> Please log in first</span>
      <div class="btn-block">
        <button type="button"
                class="btn sm blue"
                [disabled]="isLogged"
                (click)="changeAuthStatus('login')">Log In</button>
        <button type="button"
                class="btn sm red"
                [disabled]="isLoggedOut"
                (click)="changeAuthStatus('logout')">Log Out</button>
      </div>
    </div>
  </div>
  <div class="wrap">
    <nav>
      <div class="link" [routerLinkActiveOptions]="{ exact: true}"
        routerLinkActive="active">
        <a routerLink="home">Home</a>
      </div>
      <div class="link"
           routerLinkActive="active">
        <a routerLink="timer">Timer</a>
      </div>
      <div class="link"
           routerLinkActive="active">
        <a routerLink="cars">Cars list</a>
      </div>
    </nav>
    <div class="content-wrapper"
         (click)="highlightText()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
