<div class="container">
  <h1>My App</h1>
  <div class="wrap">
    <nav>
      <div class="link" [routerLinkActiveOptions]="{ exact: true}"
        routerLinkActive="active">
        <a routerLink="/">Home</a>
      </div>
      <div class="link"
           routerLinkActive="active">
        <a routerLink="timer">Timer</a>
      </div>
      <div class="link"
           routerLinkActive="active">
        <a routerLink="cars">Cars list</a>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
