<div class="content">
  <div class="search">
    <app-add-edit-form
      [carModel]="chosenCarModel"
      (carNameTriggered)="updateCar()"
    ></app-add-edit-form>
  </div>
  <ng-container *ngIf="cars.length else emptyCarsList">
    <div class="wrapper">
      <div class="car-names-wrapper">
        <app-car *ngFor="let car of cars" [carItem]="car"
                 [routerLink]="['/selected-car',
                 car.id,
                 car.brand,
                 car.model,
                 car.engine,
                 car.price
                 ]"
                 (carObj)="removeCar(car)"></app-car>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyCarsList>
    <div class="empty-wrapper">
      <div class="empty-content">
        <h1>Empty list...</h1>
        <h2>Add new one</h2>
        <button class="btn-green">Add car</button>
      </div>
    </div>
  </ng-template>

</div>
