@import "../../components/global-styles/buttons";
.input-search {
  margin: 10px 0;
  input {
    outline: none;
    height: 25px;
  }
}
.entered {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  height: 25px;
}

