/* You can add global styles to this file, and also import other style files */
@import "app/components/global-styles/tooltip";
.container {
  font-family: Calibri;
  padding: 0 40px;
}
body {
  background: darkgrey;
}
a {
  text-decoration: none;
}
